<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Valeria Ladrón de Guevara Vidrio y Mariela López Molina.

**Fecha:** 07 de junio del 2021.

**Expediente** : if714513 y if721862.
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: https://github.com/valerialadron/ProyectoConjunto_VLADRONDEGUEVARA_MMLOPEZ

# Tarea 2: Clase 4

1. Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:

<img src="descarga_ej1.png">


`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`

## Ejercicio 1
**Solución Valeria**

In [5]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

import numpy as np
func1 = lambda x,y : x*y
func2 = lambda x: x + 10 if x < 100 else x
prod = list(map(func2,[func1(orders[i][2],orders[i][3]) for i in np.arange(len(orders))]))
prod


result=list(map(lambda x,y: (x[0],y),orders,prod))
result

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

**Solución Mariela**

In [1]:
from functools import reduce
import numpy as np
import scipy.special as sps 
import matplotlib.pyplot as plt

In [2]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

solucion = list(map(lambda x: (x[0], x[2] * x[3] if x[2] * x[3] > 100 else x[2] * x[3] + 10), orders))

solucion

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

2. La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

## Ejercicio 2
**Solución Valeria**

In [6]:
orders1 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

In [7]:
from functools import reduce
func3 = lambda y: y[1] * y[2] + 10 if y[1] * y [2] < 100 else y[1] * y[2]
prod2 = list(map(lambda x: (x[0], reduce( lambda x, y : x + y, list(map(func3, x[1:])))),orders1))
prod2

[(1, 688.3299999999999),
 (2, 504.46000000000004),
 (3, 374.79999999999995),
 (4, 502.57)]

**Solución Mariela**

In [55]:
orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)]]

solucion = list(map(lambda x: (x[0], reduce(lambda x, y: x + y, 
           list(map(lambda y: y[1] * y[2] if y[1] * y[2] > 100 else y[1] * y[2] + 10, x[1:])))), orders))

solucion

[(1, 688.3299999999999),
 (2, 504.46000000000004),
 (3, 374.79999999999995),
 (4, 502.57)]

3. Resolver los anteriores ejercicios usando pandas (DataFrame)

In [11]:
########### Solución 1
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

In [27]:
########### Solución 2
orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

## Ejercicio 3
**Solución Valeria**

In [11]:
#Ejercicio 3.1
import pandas as pd 
data = pd.DataFrame(orders, columns = ["Num.Pedido", "Nombre", "Cantidad","Precio"]).set_index("Num.Pedido")
data["Total"] = data["Cantidad"] * data["Precio"]
data["Resultado"] = data["Total"].apply(func2)
data.drop(columns = ["Nombre", "Cantidad","Precio","Total"], inplace = True)
data

            Resultado
Num.Pedido
34587          163.80
98762          284.00
77226          108.85
88112           84.97

In [12]:
#Ejercicio 3.2
data1 = pd.DataFrame(prod2)
data1= data1.set_index(data1[0])
data1=data1.drop(data1.columns[[0]], axis=1)
data1=data1.rename(columns={1: 'Total'})
data1=data1.rename_axis('Pedido')
data1

         Total
Pedido
1       688.33
2       504.46
3       374.80
4       502.57

**Solución Mariela**

In [25]:
#1
import pandas as pd

df = pd.DataFrame(orders, columns = ["Order Number", "Title and Author", "Quantity","Price"]).set_index("Order Number")
condicion = lambda x: x if x > 100 else x + 10
df['Cost'] = df['Quantity'] * df['Price']
df['Total'] = df['Cost'].apply(condicion)
df

,Title and Author,Quantity,Price,Cost,Total
Order Number,,,,,
34587,"Learning Python, Mark Lutz",4,40.95,163.80,163.80
98762,"Programming Python, Mark Lutz",5,56.80,284.00,284.00
77226,"Head First Python, Paul Barry",3,32.95,98.85,108.85
88112,"Einführung in Python3, Bernd Klein",3,24.99,74.97,84.97

In [26]:
df.drop(columns = ["Title and Author", "Quantity","Price","Cost"], inplace = True)
df

               Total
Order Number
34587         163.80
98762         284.00
77226         108.85
88112          84.97

4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

## Ejercicio 4
**Solución Valeria**

In [13]:
lista = 'the notion of a lambda function goes all the way back to the origin of computer science'
result = list(filter((lambda n: len(n) >=4), lista.split()))
result

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

**Solución Mariela**

In [5]:
texto = "the notion of a lambda function goes all the way back to the origin of computer science"
list(filter(lambda x: len(x) >= 4, texto.split()))

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [6]:
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
print(temperatures)

[ 35.97387961  99.13294268  92.6178302   99.69549478  63.21119535
  73.90387697  95.50028838  99.21476553  36.98251238 101.45813729
 100.5917418   89.38159435  89.52156589  83.8084752   28.37990868
  68.75395211  45.86132067  36.58307493  56.32208365  33.96219302
  45.29071318  74.86289938  66.51091383  88.19316186  94.26635864
  46.83131624 109.60744472 109.68427993  44.55796499  92.84146259]

## Ejercicio 5
**Solución Valeria**

In [15]:
filt = list(filter((lambda x: x>= 32 and x<=80),temperatures))
print("La lista filtrada es:", filt)

La lista filtrada es: [35.97387961379455, 63.211195349983264, 73.90387696517755, 36.982512376595906, 68.75395211338406, 45.86132066984196, 36.58307493022292, 56.322083650154724, 33.9621930206693, 45.29071317816652, 74.86289938282341, 66.51091382521807, 46.831316244170544, 44.55796498523391]

In [16]:
porcentaje= (len(filt) * 100) / len(temperatures)
print("El porcentaje de temperaturas filtradas es: " + str(porcentaje) + "%")

El porcentaje de temperaturas filtradas es: 46.666666666666664%

**Solución Mariela**

In [7]:
lista = len(list(filter(lambda x: 32 <= x <= 80, temperatures))) / len(temperatures)
lista * 100

46.666666666666664

6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [8]:
########### Solución 5
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
print(point_xy)

[[17 97]
 [22 33]
 [37 46]
 [57 28]
 [11 25]
 [14  2]
 [74 16]
 [12 37]
 [35 21]
 [66 65]
 [86 58]
 [67 81]
 [ 0 48]
 [28 66]
 [76 22]
 [46 47]
 [64  7]
 [88 94]
 [65 13]
 [75 89]
 [23 17]
 [36 63]
 [62 36]
 [64 17]
 [18 19]
 [88 41]
 [21 49]
 [98 36]
 [81 73]
 [62 90]]

## Ejercicio 6
**Solución Valeria**

In [20]:
min= np.minimum.reduce(point_xy)
print("Los minimos son:", min)

Los minimos son: [0 2]

**Solución Mariela**

In [9]:
np.minimum.reduce(point_xy)

array([0, 2])